* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: url('background.jpg') no-repeat center center/cover;
  color: white;
}

.landing-page {
  padding: 40px 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  position: absolute;
  left: 60px;
  top: 10%;
  transform: translateY(-50%);
  height: 200px; 
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  gap: 40px;
}

.text-section {
  max-width: 50%;
}

.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 0 0 15px #fff;
  margin-bottom: 25px;
}

.paragraph {
  font-size: 2rem;
  margin-bottom: 15px;
  line-height: 1.6;
  color: white;
  text-shadow: 0 0 15px #fff;
}

.highlight {
  text-decoration: underline;
}

.image-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-image-wrapper {
  margin-top: 100px;
  margin-right: 220px;
  width: 320px;         
  height: 420px;
  transform: rotate(10deg);
  border-radius: 20px;
  border: 3px solid #ffd700;
  box-shadow: 0 0 15px #ffd700;
  overflow: hidden;
  position: relative;
}

.city-image {
  width: 100%;
  height: 500px;
  display: block;
  border-radius: 20px;
}

.warning-icon {
  position: absolute;
  bottom: -140px;
  right: -20px;
  width: 350px;
}

.start-button {
  margin-top: 100px;
  margin-right: 280px;
  padding: 12px 80px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #ffd700;
  color: white;
  background: transparent;
  border-radius: 30px;
  box-shadow: 0 0 12px #ffd700;
  cursor: pointer;
  transition: 0.3s;
}

.start-button:hover {
  background-color: #ffd700;
  color: black;
  box-shadow: 0 0 20px #ffd700;
}
